@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --bgColor: #faf7f2;
    --textPrimary: #8B4B00;
    --textSecondary: #aaa;
    --primaryColor: #a67c52;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bgColor);
    color: var(--textPrimary);
    width: 600px;
    margin: 50px auto;
    font-size: 1.4rem;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

header {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

header svg {
    width: 40px;
    fill: var(--primaryColor);
}

header h1 {
    color: var(--primaryColor);
}

#game-top {
    display: flex;
    justify-content: space-between;
    margin: 20px 6px 30px;
}


#game-top-info {
    color: var(--primaryColor);
}

.button {
    background: #E2DCD1;
    color: #312E29;
    border: 0;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
}

#game-bottom {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    position: relative;
}

div#game {
    line-height: 35px;
    height: 110px;
    overflow: hidden;
    position: relative;
    filter: blur(3px);
}

.game-area {
    background-color: #F6F0E6;
    padding: 30px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

#game svg {
    width: 120px;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.15;
    fill: var(--primaryColor);
    transform: rotate(15deg);
}

#focus-error {
    position: absolute;
    inset: 0;
    text-align: center;
    padding-top: 75px;
    font-family: monospace;
    font-size: 15px;
}


.game-area:focus { outline: none; }
.game-area:focus div#game { filter: blur(0); }
.game-area:focus #focus-error {
    display: none;
}
.game-area:focus #cursor { display: block; }

#words {
    color: var(--textSecondary);
    opacity: 0.7;
}

#words .word {
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    margin: 0 5px;
}

.letter.correct {
    color: var(--primaryColor);
    font-weight: bold;
}

.letter.incorrect {
    color: #f55;
}

#cursor {
    display: none;
    width: 2px;
    height: 1.6rem;
    background-color: var(--primaryColor);
    position: absolute;
    animation: blink .5s infinite;
}



@keyframes blink {
    0% { opacity: 1;}
    50% { opacity: 0; }
    100% { opacity: 1; }
}
